.playlist {
  margin-top: 30px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  cursor: pointer;
}

.playlist:hover,
.playlist:focus{
  color: black;
}

.imgContainer {
  position: relative;
  width: 160px;
  height: 160px;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.playlistName {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  width: 160px;
  font-weight: 600;
  margin-top: 10px;
}

.playIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(51, 51, 51, 0.5)
}

.playIcon > span:nth-child(1) {
  font-size: 64px;
}

.edit {
  position: absolute;
  right: 30px;
  top: 3px;
}

.close {
  position: absolute;
  right: 3px;
  top: 3px;
}