.playlist {
  margin-top: 30px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  cursor: pointer;
}

.playlist:hover,
.playlist:focus{
  color: black;
}

.imgContainer {
  position: relative;
  width: 160px;
  height: 160px;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.playlistName {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  width: 160px;
  font-weight: 600;
  margin-top: 10px;
}

.playIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(51, 51, 51, 0.5)
}

.playIcon > span:nth-child(1) {
  font-size: 64px;
}

.edit {
  position: absolute;
  right: 30px;
  top: 3px;
}

.close {
  position: absolute;
  right: 3px;
  top: 3px;
}

.dialog {
  width: 600px;
}

.saveBtn {
  height: 40px;
  width: 80px;
  color: white;
  background: #31e8e8;
  border: none;
  outline: none;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.saveBtn:hover {
  background: rgb(48, 219, 219);
}

.closeBtn {
  height: 40px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dialogActions {
  display: flex;
  justify-content: flex-end;
}

.dlThumbnail {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.thumbnailUpload {
  width: 100%;
  height: 30px;
  border: 1px solid #333333;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 15px;
}

.thumbnailUpload:hover {
  border: 2px solid #333333;
}

.dialogLeft {
  display: flex;
  flex-flow: column;
  width: 150px;
}

.dialogContent {
  display: flex;
}

.dialogRight {
  display: flex;
  flex-flow: column;
  margin-left: 20px;
  width: 450px;
}

.dlName {
  font-size: 24px;
  font-weight: 500;
  outline: none;
  border: none;
  font-family: inherit;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid white;
}

.dlName:focus,
.dlName:hover {
  border: 1px solid #333333;
}

.musicList {
  display: flex;
  flex-flow: column;
  border: 1px solid rgba(196, 196, 196, 0.5);
  width: 100%;
  height: 250px;
  margin-top: 20px;
}