.container {
  width: 160px;
}

.container > .navLink {
  background: rgba(51, 51, 51, 0.1);
  margin: 5px 0;
}

.container > .navLink:hover,
.container > .active {
  color: white;
  background: #31e8e8;
}

.navLink > span:nth-child(2) {
  margin-left: 10px;
}