.container {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  width: 64px;
  height: 64px;
}

.searchBar {
  height: 32px;
  width: 400px;
  position: relative;
}

.searchBar > input {
  height: 100%;
  width: 100%;
  padding: 0px 34px 0px 10px;
  margin-left: 20px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}

.searchBar > span {
  color: inherit;
  position: absolute;
  right: -10px;
  top: 4px;
  color: #c4c4c4;
}

.searchBar > input:focus {
  outline: none;
  box-shadow: 0 0 5px #2196f3;
  border: 1px solid #2196f3;
}

.right {
  width: 190px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login {
  color: #31E8E8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 32px;
  cursor: pointer;
  border-radius: 16px;
}

.login:hover {
  background: rgba(196, 196, 196, 0.2);
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 32px;
  cursor: pointer;
  border-radius: 16px;
  background: #31E8E8;
  color: white;
}

.signup:hover {
  background: rgb(48, 219, 219);
}

.signupDialog {
  width: 400px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 50px;
  justify-content: space-evenly;
  font-family: 'Roboto', sans-serif;
}

.signupForm {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 200px;
}

.signupHeader {
  font-size: 36px;
  font-weight: 600;
}

.signupEmail {
  margin-top: 30px;
}

.signupSubmit {
  border-radius: 5px;
  background: #31E8E8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 300px;
  height: 40px;
  cursor: pointer;
}

.loginDialog {
  width: 400px;
  height: 620px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 50px;
  justify-content: space-evenly;
  font-family: 'Roboto', sans-serif;
}

.loginHeader {
  font-size: 36px;
  font-weight: 600;
}

.loginSubmit {
  border-radius: 5px;
  background: #31E8E8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 300px;
  height: 40px;
  cursor: pointer;
}

.forgotPassword {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  color: #31E8E8;
}

.forgotPassword > span {
  cursor: pointer;
}

.connectWith {
  width: 300px;
  border-top: 1px solid black;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.thirdParty {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.facebook {
  width: 135px;
  height: 40px;
  margin-bottom: 10px;
  background: #4267b2;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  cursor: pointer;
}

.facebookLogo {
  width: 24px;
  height: 24px;
}

.google {
  width: 135px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: thin solid #888888;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.googleLogo {
  width: 24px;
  height: 24px;
  margin: 0 20px;
}

.loginForm {
  height: 125px;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.account {
  display: flex;
  align-items: center;
  position: relative;
}

.account > span {
  margin: 0 0 0 10px;
  font-weight: 500;
}

.accountMenu {
  position: absolute;
  top: calc(100% + 10px);
  width: 150px;
  right: 0;
}

.hide {
  display: none;
}

.accountMenu > .navLink {
  padding: 5px 10px;
}

.navLink > span:nth-child(1) {
  color: #c4c4c4;
}

.navLink > span:nth-child(2) {
  margin-left: 10px;
}

.errMessage {
  color: rgb(225, 0, 80);
}