.container {
  width: 750px;
  display: flex;
  flex-flow: column;
  margin-left: 50px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #c4c4c4;
}

.form {
  margin-top: 30px;
  width: 450px;
  display: flex;
  flex-flow: column;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.button {
  width: 150px;
  height: 40px;
  background: #31e8e8;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.button:hover {
  background: rgb(48, 219, 219);
}

.form > .marginBot {
  margin-bottom: 20px;
}

.error {
  display: flex;
  height: 50px;
  align-items: center;
  color: rgb(225, 0, 80);
  border: 1px solid rgba(225, 0, 80, 0.5);
  border-radius: 5px;
  background: rgba(225, 0, 80, 0.15);
}

.error > span:nth-child(1) {
  margin: 0 10px 0 10px;
}

.success {
  display: flex;
  height: 50px;
  align-items: center;
  color: rgb(144,238,2);
  border: 1px solid rgba(144,238,2,0.5);
  border-radius: 5px;
  background: rgba(144,238,2,0.15);
}

.success > span:nth-child(1) {
  margin: 0 10px 0 10px;
}